:root {
  --primary-color: #969696;
  --dark-primary: #4a4a4a;
  --secondary-color: #c6c6c6;
  --accent-color: #f8cb03;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'sans-serif'
}

body {
  background-color: var(--primary-color);
}

.App {
  text-align: center;
  width: 100%;
}

#drum-machine {
  height: 350px;
  width: 750px;
  margin: 10% auto;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  border: 5px solid var(--accent-color)
}

#pad {
  height: 100%;
  width: 55%;
  background-color: transparent;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

#display {
  height: 100%;
  width: 45%;
  background-color: transparent;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.drum-pad {
  height: 30%;
  width: 30%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.drum-pad:hover {
  border: 2px solid black;
}

.drum-pad:active {
  box-shadow: inset var(--dark-primary) 0px 0px 10px;
}

.drum-pad:disabled {
  cursor: not-allowed;
  background-color: var(--secondary-color);
  border: 1px solid black;
  box-shadow: none;
}

.drum-pad p {
  font-weight: 600;
}

.toggle {
  height: 60px;
  width: 80%
}

h2 {
  font-size: 2;
}

#toggle-box {
  height: 30px;
  width: 70px;
  margin: 0 auto;
  background-color: var(--dark-primary);
  display: flex;
  padding: 0 2px;
  align-items: center;
  overflow: hidden;
}

#toggle-switch {
  display: none;
}

#toggle-switch + label {
  height: 90%;
  width: 30px;
  background-color: var(--accent-color);
  margin: 0;
  display: block;
  cursor: pointer;
  transition: transform 0.3s;
  transform: translateX(0);
}

#toggle-switch:checked + label {
  transform: translateX(36px);
}

@keyframes flow {
  0% {
    transform: translateX(-180%)
  }
  100% {
    transform: translateX(180%);
  }
}

#legend {
  height: 60px;
  width: 80%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#legend p {
  text-align: center;
  white-space: nowrap;
  animation: flow 4s linear infinite;
}

/* Style the volume bar container */
.volume-bar {
  width: 80%;
  height: 10px;
  background-color: transparent;
  border: 1px solid var(--dark-primary);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}

.volume-slider {
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  border: none;
  outline: none;
  -webkit-appearance: none;
}

.volume-slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--dark-primary);
  cursor: pointer;
}

@media (max-width: 650px) {
  #drum-machine {
    flex-direction: column;
    width: 350px;
    height: 600px;
  }

  #pad {
    width: 100%;
    margin-right: 0;
    padding: 10px;
  }

  #display {
    width: 100%;
    margin-left: 0;
  }
}